[submodule "AutoWork"]
	path = AutoWork
	url = https://github.com/m413w4r3/AutoWork

[submodule "WebAI-to-API"]
	path = WebAI-to-API
	url = https://github.com/m413w4r3/bridge

[submodule "chatgpt-bridge"]
	path = chatgpt-bridge
	url = https://github.com/votre-nom/chatgpt-bridge.git

