[submodule "AutoWork"]
	path = AutoWork
	url = https://github.com/m413w4r3/AutoWork

[submodule "WebAI-to-API"]
	path = Bridges/WebAI-to-API
	url = https://github.com/Amm1rr/WebAI-to-API

[submodule "chatgpt-bridge"]
	path = Bridges/chatgpt-bridge
	url = https://github.com/m413w4r3/bridge

